<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My toDo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" fxLayout="row">
  <div
    fxFlexFill
    fxLayout.xl="row"
    fxLayout.xs = "column wrap"
    fxLayout.sm = "column wrap"
    fxLayoutGap="1em"
  >
    <div>
      <form [formGroup]="form" (ngSubmit)="addToDo(); formDirective.resetForm()" #formDirective="ngForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Add ToDo</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutGap="2vw">
            <mat-form-field >
              <input placeholder="Please enter a task" matInput formControlName="task"/>
              <mat-hint>
                Please enter something valid!
              </mat-hint>
              <mat-error *ngIf="taskFormControl.invalid && taskFormControl.touched">
                A task should have more details...
              </mat-error>
            </mat-form-field>
            <div>
              <label>Priority &nbsp;</label>
              <mat-radio-group
                aria-label="Select an option"
                formControlName="priority">
                <mat-radio-button
                  *ngFor="let p of priorities" value="{{p}}">
                  {{p}} &nbsp;
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <label>Due date: &nbsp;</label>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" formControlName="dueDate" [min]="tomorrow">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-datepicker #picker></mat-datepicker>
                </mat-datepicker-toggle>
              </mat-form-field>
              <div>
                <button mat-raised-button color = "primary" type = "submit" [disabled]="form.invalid || editMode">Add</button>
                <button mat-raised-button color = "primary" type = "button" (click)="updateTask(formDirective)" [ngStyle]="{'display': editMode? 'inline': 'none'}">Update</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <p>
          Real-time data: {{ form.value | json }}
        </p>
        <p>
          Your form status is : {{ form.status }}
        </p>
        <mat-card *ngIf="taskListNotEmpty">
          <mat-card-content fxLayout="column" fxLayoutGap="10vw">
            <div [ngStyle]="{border: '3px solid black'}">
              <h1 [ngStyle]="{color:'orange', padding: '1em'}">Task</h1>
              <div fxLayout="row wrap"
                   fxLayoutAlign="space-between"
                   [ngStyle]="{border: '3px solid black', margin:'1em',padding:'1em'}"
                   *ngFor="let t of toDosValues">
                <h2 [ngStyle] = "{'text-decoration': done? 'line-through':'none', 'text-decoration-color':'red' }">{{t.task}}</h2>
                <div
                fxLayoutAlign="center center"
                fxLayoutGap="1em">
                  <mat-checkbox color="accent"  (change) ="done = $event.checked">
                    Done
                  </mat-checkbox>
                  <button [ngStyle]="{'overflow-wrap': 'break-word'}" type="button" (click)="deleteTask(t)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="editTask(t)" type ="button" mat-mini-fab color="warn" >
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div fxFlex = '100'
                fxLayoutAlign="space-between">
                  <span>{{t.priority}}</span>
                  <span>{{t.dueDate | date:"dd/MM/yyyy"}}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
